<h1>Warning you are entering the {{ retention }} [GB] retention period!</h1>

<p></p>
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Used [GB]</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Remain [GB]</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Limit [GB]</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ usage }} </td>
        <td> {{ remain }} </td>
        <td> {{ transfer_limit }} </td>
      </tr>
    </tbody>

  </table>
</div>