<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
<table style="width:33%">
  <tr>
    <th>.</th>
    <th>Price</th>
    <th>Change</th>
  </tr>
  <tr>
    <td>USD</td>
    <td>{{usd}} PLN</td>
    <td> - </td>
  </tr>
  <tr>
    <td>GBP</td>
    <td>{{gbp}} PLN</td>
    <td> - </td>
  </tr>
  <tr>
    <td>Gold</td>
    <td>{{gold}}</td>
    <td>{{gold_change}}</td>
  </tr>
  <tr>
    <td>Silver</td>
    <td>{{silver}}</td>
    <td>{{silver_change}}</td>
  </tr>
</table>
</body>
</html>